@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import "@nuxt/ui";

@theme static {
  --color-accent-300: #C2897E;
  --color-accent-500: oklch(72.772% 0.149 33.2);
  --color-accent-600: #D16C58;
  --color-accent-700: #7F4236;
  --color-accent-800: #41221B;
}

:root {
  --color-text-muted: theme('colors.secondary.700');
  --color-text-main: theme('colors.black');
  --ui-text: theme('colors.black');
  --ui-text-muted: theme('colors.secondary.700');
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #ffffff;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-fade-in-up {
	animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeInOverlay {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fade-in-overlay {
	animation: fadeInOverlay 0.4s ease-out forwards;
}

@keyframes fadeInDialog {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-slide-up-overlay {
	transform: translate(-50%, -50%);
	animation: fadeInDialog 0.5s ease-out forwards;
}

html {
  	scroll-behavior: smooth;
}